section{
    border:1px solid black;
    max-width:50%;
    margin: 10px auto;
    height: auto;
    text-align: center;
    background:#2563EB ;
    color: white;
}
*{
    box-sizing: border-box;
}
button{
    display: block;
    margin: 1px auto;
}
#txt1,#txt2{
    width: 90%;
    margin: 2px auto;
    height:50px;
    padding:10px;
}
#cash,.error,.error2,#output,.error3{
    display: none;
}
#output,table,th,td{
    border-collapse: collapse;
}
#tab,th,td{
    border: 1px solid white;
    width:100%;
    table-layout: fixed;
}
